<footer class="footer">
  <section class="container">
    <div class="row">
           
      <div class="f-column f1">
        <div class="logo2">
          <a href="index.html"><img src="assets/images/footer-logo.svg" alt="" width="55%"></a>
        </div>
        <div class="text">Your G Suite Manager
        Providing a better way to manage your Google G Suite.
        </div>
        <a href="#" class="read-more">Read More <span class="icon2 fa fa-long-arrow-right"></span></a>
      </div>
      
      <!-- footer column -->
       <div class="f-column fc f2">
                              <div class="footer-widget links-widget">
                                  <ul class="footer-links">
                                      <li><a href="features.html">Features</a></li>
                                      <li><a href="solutions.html">Solutions</a></li>
                                      <li><a href="pricing.html">Pricing</a></li>
                                      <li><a href="blog.html">Blog</a></li>
                                  </ul>
                              </div>
                          </div>
                       
                        

                        
                   <!-- footer clolumn -->
                   
                          <!--Footer Column-->
                          <div class="f-column fc f3">
                              <div class="footer-widget social-widget">
                                  <ul class="social-links">
                                      <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                                      <li><a href="#"><span class="fa fa-instagram"></span> Instagram</a></li>
                                      <li><a href="#"><span class="fa fa-linkedin"></span> Linkedin</a></li>
                                  </ul>
                              </div>
                          </div>
                        
                          <!--Footer Column-->
                          <div class="f-column fc f4">
                              <div class="footer-widget subscribe-widget">
                                  <h5 style="color:black;">Subscribe</h5>
                                  <!-- Subscribe Form -->
                                  <div class="subscribe-form">
                                      <form method="post" action="">
                                          <div class="form-group clearfix">
                                              <input class="eml" type="email" name="email" value="" placeholder="Email Address" required="">
                                              <button type="submit" class="theme-btn submit-btn"><span class="icon fa fa-long-arrow-right"></span></button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                         
                     </div> 
                     
                     <!-- Footer Bottom -->
        <div class="footer-bottom">
                <div class="auto-container">
                    <div class="copyright">&copy; 2019 All Rights Reserved By <a target="blank" href="">Patronum</a></div>
                </div>
            </div>
    

</section>
</footer>