<section id="page7">
  <div class="table clearfix">
    <div class="column1 c1">
      <ul>
        <li>Unlimited Project SEO</li>
        <li>Hosting</li>
        <li>PPC visitors</li>
        <li>Traffic rate</li>
      </ul>
    </div>
    <div class="column c2">
      <div class="title">Standard</div>
      <div class="price">$15<span>/mon</span></div>
      <ul>
        <!-- <li class="price">Standard<br>$<br>15<br>/Mon</li> -->
        <li>No</li>
        <li>20gb</li>
        <li>50% More</li>
        <li>80% Inc</li>
        <!-- <li>buy now</li> -->
      </ul>
      <a href="#" class="btn-table bn">
      <div>Buy Now <span class="fa fa-angle-right"></span></div>
       </a>
    </div>
    <div class="column c3">
      <div class="title">Business</div>
      <div class="price">$50<span>/mon</span></div>
      <ul>
        <!-- <li class="price">Business<br>$<br>50<br>/Mon</li> -->
        <li>Yes</li>
        <li>40gb</li>
        <li>60% More</li>
        <li>80% Inc</li>
        <!-- <li>buy now</li> -->
      </ul>
      <a href="#" class="btn-table bn">
              <div>Buy Now <span class="fa fa-angle-right"></span></div>
              </a>
    </div>
    <div class="column c4">
      <div class="title">Enterprise</div>
      <div class="price">$99<span>/mon</span></div>
      <ul>
        <!-- <li class="price">Enterprice<br>$<br>99<br>/Mon</li> -->
        <li>Yes</li>
        <li>80gb</li>
        <li>70% More</li>
        <li>100% Inc</li>
        <!-- <li>buy now</li> -->
      </ul>
      <a href="#" class="btn-table bn">
              <div>Buy Now <span class="fa fa-angle-right"></span></div>
      </a>
    </div>
    
  </div>
</section>