<app-header></app-header>
<div class="pagetitle" [ngStyle]="{background: 'url(assets/images/14.jpg )'}">
  <div class="auto-container">
			<h2>Solutions</h2>
		</div>
</div>
<div class="auto-container">
<div class="title">
  <h4>Patronum isn’t just for IT administrators, it addresses challenges right across your business.</h4>
</div>
</div>

<!-- Patronum fo IT -->
<div class="auto-container IT clearfix">
  <div class="text">
    <h1>Patronum For IT</h1>
    <p>Save time by automating those repetitive and monotonous tasks. Once configured our policy engine will automatically add users to groups, update their Gmail settings, even create or share files, folders and labels for each and every person within your G Suite organisation. With Patronum insights you’ll be able to identify and resolve issues before they occur. Monitor suspicious user behaviour, failed login attempt, and mass download of files. Patronum isn’t just another G Suite tool, it’s like having an army of G Suite administrators in your pocket.</p>
    <a href="#" class="btn-style-thirteen theme-btn bn ">Learn More</a>
  </div>
  <div class="img">
      <img src="assets/images/s1.svg" alt="">
  </div>
</div>

<!-- Patronum For HR -->
<div class="auto-container HR clearfix">
  <div class="img">
    <div class="imgcol">
      <img src="assets/images/s2.svg" alt="">
    </div>
  </div>
  <div class="text">
    <h1>Patronum For HR</h1>
    <p>Employee onboarding isn’t just about creating user accounts and groups. Patronum can also help with the user induction process by providing newly created users with access to training materials, health and safety videos, company handbooks and sign off sheets. Patronum can help your organisation standardise your induction process and help with internal staff training.</p>
    <a href="#" class="btn-style-thirteen theme-btn bn ">Learn More</a>
  </div>
</div>


<!-- Patronum For Marketing -->
<div class="auto-container MR clearfix">
  <div class="text">
    <h1>Patronum For Marketing</h1>
    <p class="p1">Every marketing specialist understands that it’s the small details that matter. By utilising Patronum your marketing department can make sure everyone is on brand. Centralise and control company presentations, and proposals.</p><p class="p2">With Patronum email signature management, you can turn your business emails into a lead generation machine to increase traffic, find new prospects and improve your company’s branding.</p>
    <a href="#" class="btn-style-thirteen theme-btn bn ">Learn More</a>
  </div>
  <div class="img">
    <div class="imgcol">
        <img src="assets/images/s3.svg" alt="">
    </div>
  </div>
</div>


<!-- Patronum For Sales -->
<div class="auto-container SL clearfix">
  <div class="img">
    <div class="imgcol">
      <img src="assets/images/s4.svg" alt="">
      </div>
  </div>
  <div class="text">
    <h1>Patronum For Sales</h1>
    <p>With Patronum your staff will be up and running from day one. No more hunting for documents, or requesting access to schedules, or data they need.</p>
    <p>Even in small organisations, it’s often difficult to connect with the right people. Patronum gives your organisation instant access to your internal staff list. Search for people by department, location, or even skills. Then connect and start collaborating.</p>
    <a href="#" class="btn-style-thirteen theme-btn bn ">Learn More</a>
  </div>
</div>

<!-- Patronum For Users -->
<div class="auto-container UR clearfix">
  <div class="text">
    <h1>Patronum For Users</h1>
    <p>With Patronum your staff will be up and running from day one. No more hunting for documents, or requesting access to schedules, or data they need.</p>
    <p>Even in small organisations, it’s often difficult to connect with the right people. Patronum gives your organisation instant access to your internal staff list. Search for people by department, location, or even skills. Then connect and start collaborating.</p>
    <a href="#" class="btn-style-thirteen theme-btn bn ">Learn More</a>
  </div>
  <div class="img">
    <div class="imgcol">
        <img src="assets/images/s5.svg" alt="">
    </div>
  </div>
</div>

<!-- Patronum For Education -->
<div class="auto-container EDU clearfix">
  <div class="img">
    <div class="imgcol">
        <img src="assets/images/s6.svg" alt="">
    </div>
  </div>
  <div class="text">
    <h1>Patronum For Education</h1>
    <p>Patronum is the perfect companion for educational institutes using Google G Suite or Google Classroom.</p>
    <p>Automatically populate groups based on department, subject or year group. Allow staff to locate students and faculty members based on location, or department. Patronum Drive policy can automatically set up folders to allow students to submit their work.</p>
    <a href="#" class="btn-style-thirteen theme-btn bn ">Learn More</a>
  </div>
</div>


<app-footer></app-footer>