
    <!-- Main Header-->
    <header class="main-header">
        
      <!--Header-Upper-->
      <div class="header-upper">
          <div class="auto-container">
              <div class="clearfix">
                  
                  <div class="pull-left logo-box">
                      <div class="logo"><a href="index.html"><img src="assets/images/logo-w.svg" alt="" class="hidd" 
title="" width="53%"><img src="assets/images/logo.svg" class="fixdd" alt=""
title="" width="53%"></a></div>
                  </div>
                  
                  <div class="nav-outer clearfix">
                  
                      <!-- Main Menu -->
                      <nav class="main-menu navbar-expand-md stroke">
                          <div class="navbar-header">
                              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#open" aria-controls="open" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                          </div>

                          <div class="navbar-collapse collapse scroll-nav clearfix" id="open">
                              <ul class="navigation clearfix ">
                                  <li  class="nav-item">
                                      <a class="nav-link line" routerLink="/features" href="{{app-features}}">Features</a>
                                  </li>
                                  <li ><a routerLink="/solutions" href="{{app-page2}}" class="line">Solutions</a>
                                      <!-- <ul>
                                          <li><a href="about.html">About Us</a></li>
                                          <li><a href="about-2.html">About Type 02</a></li>
                                          <li><a href="about-3.html">About Type 03</a></li>
                                          <li><a href="faq.html">Faq's</a></li>
                                      </ul> -->
                                  </li>
                                  <li ><a routerLink="/pricing" href="" class="line">Pricing</a>
                                      <!-- <ul>
                                          <li><a href="portfolio.html">Portfolio 3 Column</a></li>
                                          <li><a href="portfolio-2.html">Portfolio 2 Column</a></li>
                                          <li><a href="portfolio-3.html">Portfolio 4 Column</a></li>
                                          <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                      </ul> -->
                                  </li>
                                  <li><a href="" class="line">Blog</a></li>
                              </ul>
                          </div>
                          
                      </nav>
                      
                      <!--Button Box-->
                    <div id="contact"  class="button-box">
                          <a  class="theme-btn btn-style-one button1  btn trigger bn" href="javascript:;">
                          <div class="bg bg4 ease-cubicInOut transition-4ms"></div>
                          <div>REQUEST A DEMO</div>
                          </a>
                      </div>
          
        </div>
                 
              </div>
          </div>
      </div>
      <!--End Header Upper-->
      
  </header>
  <!--End Main Header -->
