<section id="page8" class="clients-section">
  <div class="container">
    <!-- Sec Title -->
    <div class="sec-title centered">
      <h3>Our Clients</h3>
      <div class="text"><p>Aliquam erat volutpat. Sed ut dui ut lacus dictum fermentum vel tincidunt neque.</p></div>
    </div>
    <div class="outer-container">
      <div class="clearfix">
        <a href="#"><img src="assets/images/clients/1.png" alt=""></a>
        <a href="#"><img src="assets/images/clients/2.png" alt=""></a>
        <a href="#"><img src="assets/images/clients/3.png" alt=""></a>
        <a href="#"><img src="assets/images/clients/4.png" alt=""></a>
        <a href="#"><img src="assets/images/clients/5.png" alt=""></a>
        <a href="#"><img src="assets/images/clients/6.png" alt=""></a>
        <a href="#"><img src="assets/images/clients/7.png" alt=""></a>
        <a href="#"><img src="assets/images/clients/8.png" alt=""></a>
        <a href="#"><img src="assets/images/clients/9.png" alt=""></a>
        <a href="#"><img src="assets/images/clients/10.png" alt=""></a>
        <a href="#"><img src="assets/images/clients/3.png" alt=""></a>
      </div>
    </div>
  </div>
</section>