<section id="page3" class="clearfix">
		<div class="pos3 t2 text wow slideInLeft clearfix">
			<h1>Complete Onboarding <span>and Offboarding</span> </h1>
			<p class="dcr">Provisioning and deprovisioning user within Google G Suite can be time-consuming and costly. Let Patronum fully automate all the administrator and user tasks to ensure an effective and secure process.</p>
			<a href="#" class="btn-style-thirteen theme-btn bn">Learn More</a>
		</div>
		<div class="img3 wow slideInRight clearfix">
			<img src="assets/images/f1.svg" >
		</div>
</section>