
	  <div class="page1 clearfix" [ngStyle]="{background: 'url(assets/images/image-1.jpg )'}">
		<div class="first clearfix">
	
			<div class="text t1 wow slideInLeft">
				<h1 class="wt">Patronum</h1>
				<h2 class="sb">Your G Suit Manager</h2>	
				<h5 class="wt">Provide a better way to manage your Google G-suit</h5>
				<a class="abc theme-btn btn-style-two-e clearfix" href="" >Try for Free <span class="icon fa fa-long-arrow-right"></span></a>

			</div>
			<div class="img1 wow slideInRight clearfix">
				<img src="assets/images/content-image-1.png" height="90%" width="100%">
			</div>
			<!-- </div> -->
			</div>
		</div>



  <!-- ********************************************************* -->
  