.in ul{
	float:
}
.in .nav li{
	float: left; ;
	display: block ;
	padding: 2px 0;
	border-bottom: 1px solid #1b606b;
}

/*.in .nav li a{
	color: #1b606b;
	z-index: 9;
}*/
/*.in .nav li a ::after{
	display: none;
}*/

.in ul {
    display: block !important;
}

.icon-bar
{
  background:white !important; /*Whatever colour you want for icon lines*/
}
.navbar-toggle
{
	padding: 15px 18px;
  background: #1b606b !important; /*Whatever colour you want for background */
}
/*@media screen and (min-device-width: 601px){
	.navbar-header1 button{
		display: none;
	}
}*/
@media screen and (max-device-width: 1140px){
	.collapse ul{
	display: none;
}
}

@media screen and (min-device-width: 700px) and (max-device-width: 1024px) {
	.page1{
		height: 66vh;
	}
}
@media screen and (min-device-width: 200px) and (max-device-width: 400px) {
	.page1{
		height: 50vh;
	}
	.table .column1{
		display: none;
	}
	.table .column{
		width: 100%;
		float: left;
		position: relative;
		margin-bottom: 23px;
		font-family: raleway;
		
	}
	.column ul li{
		font-size: 28px;

	}
	.title{
		font-size: 50px;

	}
	.price{
		font-size: 80px;

	}
	.price span{
		font-size: 30px;
		padding-top: 21px;
		

	}
}


/*************************FOR SCREEN 200 to 600*********************************************/

@media screen and (min-device-width: 200px) and (max-device-width: 600px) {
	.table .column1{
		display: none;
	}
	.table .column{
		width: 100%;
		float: left;
		position: relative;
		margin-bottom: 23px;
		font-family: raleway;
		/*font-size: 24px;*/
	}
	.column ul li{
		font-size: 28px;

	}
	.title{
		font-size: 50px;

	}
	.price{
		font-size: 80px;

	}
	.price span{
		font-size: 30px;
		padding-top: 21px;
		/*padding-left: 5px;*/

	}
	
	.p2{
		position: relative;
    color: #666666;
    font-weight: 400;
    line-height: 1.9em;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
	}


	/*.logo{
		margin-left: 100px;
    padding-top: 5px !important;
	}*/
	.page1{
		width: 100%;
		height: 50vh;
	}
	#page4{
		padding: 120px 90px 0px;
	}
	#page3{
		    padding: 120px 90px 0px;
	}
	.f-column{
		width: 50%;
	}
	/*.sticky{
		position: fixed;
    top:0; left:0;
    width: 100%; 
    background: white;
    color: #1b606b;
    opacity: 1;
    z-index: 40;
  
    box-shadow: 0px 0px 17px #b5b5b5bf;
	}
	.sticky a{
		color: #1b606b;
	}*/
	#myNavbar{
		display: none;
	}
	.navbar-header button{
		display: block;
		float: right;
		position: absolute;
		right: 20px;
		margin:45px 5px 0 0;
		background-color: #1b606b;
	}
	.navbar-collapse .in {
    overflow-y: auto;
}
.collapse .in {
    display: block !important;
}
	/*.table{
		display: none !important;
	}*/
	.table .column1{
		display: none;
	}
	.table .column{
		width: 100%;
		float: left;
		position: relative;
		margin-bottom: 23px;
		font-family: raleway;
		/*font-size: 24px;*/
	}
	.column ul li{
		font-size: 28px;

	}
	.title{
		font-size: 50px;

	}
	.price{
		font-size: 80px;

	}
	.price span{
		font-size: 30px;
		padding-top: 21px;
		/*padding-left: 5px;*/

	}

}


/*************************FOR SCREEN 1300 and MORE*********************************************/

@media only screen and (max-width: 1300px) and (min-device-width: 1200px){
	.page1{
		width: 100%;
		height: 120vh;
	}
	.page1 .img1{
		padding-top:80px; 
	}
	
	/*	.logo {
    
    margin: 36px 0 0 76px;
    float: left;
 
	}*/
	.fixed .logo {
    /* padding-top: 16px; */
    margin-top: 14px;
    margin-bottom: 10px;
}
.buttons {
    float: right !important;
    margin-right: 138px !important;
    color: white;
    padding-top: 46px !important;
    /* margin-top: 18px; */
    margin-bottom: 6px;
}
.fixed .buttons {
    padding-top: 20px !important;
}

	.first {
    width: 100%;
    padding: 120px 20px 67px 80px;
    overflow: hidden;
}
	.page1 .text{
		line-height: 1.9em;
    font-family: raleway;
    padding-top: 80px;
	float: left;
    width: 50%;
	}
	.t1 h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.3em;
	}
	.t1 h2 {
    font-size: 48px;
    position: relative;
    color: #18c3e4;
    font-weight: 300;
    line-height: 1.3em;
    margin-top: 0px;
	}
	.t1 h5 {
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 28px;
	}
	.btn-style-two-e {
    position: relative;
    top: 16px;
    line-height: 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 40px 18px;
}

}
/*************************FOR SCREEN 1140 and LESS*********************************************/
@media only screen and (max-width: 1140px){
	.logo {
      float: left;
    /*height: 100px;*/
    margin:0;
    width: 640px;
    padding: 20px 0 0px 30px
	}
.navbar-header button{
	position: absolute;
    right: 40px;
    margin: 88px 78px 0 0;
}
	#page2{
		padding: 120px 0px 70px;
		width: 100%;
	}
	#navv{
		display: none;
	}
	.navbar-header{
		float: right;
		display: block;
	}
	.img1 img{
		display: none;
	}
	.t1{
		width: 70% !important;
		font-family: raleway;
	}
	.t1 h1{
		font-size: 60px;
		font-weight: 500;
		font-family: raleway;

	}
	.t1 h2{
		font-size: 48px;
		font-weight: 100;
		font-family: raleway;
	}
	.pos2{
		display: block;
		width:100%;
		clear: both;
		font-family: raleway;
		padding: 5px;
			}
	.t2 p{
		font-size: 30px;
		font-family: 'Raleway',sans-serif;
	}
	.t2 h1, .pos4 h1{
		font-size: 70px;
		font-family: raleway;
		font-weight: 600 !important;
	}
	.t2 h2{
		font-size:65px !important;
		font-weight: normal;
		font-family: raleway;
	}
	#page8 h3{
		font-size: 40px;

	}
	#page8 p{
		font-size: 28px;

	}
	.p6{
		font-family: raleway;
		font-size: 40px;
	}
	.btn-style-thirteen {
		    line-height: 50px;
		    font-size: 30px;
    padding: 20px 41px 20px;
        font-family: raleway;
	}
	.img2 img{
		float: left;
		width: 100%;
		height: 50%;
		clear: both;
		
		/*margin-left: auto;
		margin-right: auto;*/
	}
	
	.pos3{
		width:100%;
		clear: both;
		font-family: raleway;
		margin-left: auto;
		margin-right: auto;
	}
	/*.pos3 h1{
		font-size: 60px;
	}*/
	.img3{
		float: left;
		width: 100%;
		height: 50%;
		clear: both;
		/*margin-top: 20%;*/
	
	}
	.text2{
		float: none;
	}
	.pos4{
		width:100%;
		clear: both;
		margin-left: 5px;
		margin-top: 0;
		font-family: raleway;
	}
	.img4 {
		float: left;
		width: 100%;
		height: 60%;
		clear: both;
	
	}
	.pos5{
		width:100%;
		clear: both;
		margin-left: 5px;
		margin-top: 0;
		font-family: raleway;
	}
	.img5 {
		float: none;
		width: 100%;
		
	}
	
	.tab_button {
    width: 50%;
	}


}
/*************************FOR SCREEN 768 and LESS*********************************************/

@media only screen and (max-width: 768px){
		.logo {
      float: left;
    height: 100px;
    width: 640px;
    padding: 21px 0 20px 41px;
	}
	.container-fluid .in ul li a{
		display: block ;
		padding: 12px 20px !important;
    line-height: 22px;
    color: #202f3a;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px !important;
    text-align: left;
	}
}

.navbar-collapse.in ul li a {
    overflow-y: visible;
    width: 100%;
    display: block !important;
		padding: 12px 20px !important;
    line-height: 22px;
    color: #202f3a;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px !important;
    text-align: left;
    /*background-color: green;*/
    /*border-bottom: 1px solid #1b606b;*/
    border-top: 1px solid #1b606b;
}