<app-header></app-header>
<!-- page title -->
<div class="pagetitle" [ngStyle]="{background: 'url(assets/images/14.jpg )'}">
  <div class="auto-container">
			<h2>Features</h2>
		</div>
</div>
<div class="title">
  <h3>Patronum</h3>
  <p>Your Swiss Army Knife for Google G Suite.</p>
</div>
<app-page3></app-page3>
<!-- googel drive -->
<div class="gdrive clearfix">
<div class="img wow slideInLeft">
  <img src="assets/images/f2.svg" alt="">
</div>
<div class="text">
<h1 class="wow slideInUp">Google Drive<span>Management</span></h1>
<p class="wow slideInRight">Patronum gives Google administrators more control over users Google Drive files and folders. Share, Copy and even backup users Google Drive.</p>
<div class="wow slideInUp animated ">
  <a href="#" class="btn-style-thirteen theme-btn bn ">Learn More</a>
</div>
</div>
</div>

  <!-- Organisational chart -->
  <div class="ochart clearfix">
    <div class="text">
      <h1 class="wow slideInUp">Organisational<span>Chart</span></h1>
      <p class="wow slideInLeft">Patronum is the only enterprise-ready contact sharing application for G Suite.
        Allow your users to share their specific contacts via labels, while giving administrators enhanced visibility and management of the whole process.
        </p>
        <a href="#" class="wow slideInUp btn-style-thirteen theme-btn bn">Learn More</a>
    </div>
    <div class="img">
      <img src="assets/images/f3.svg" alt="">
    </div>
  </div>


<!-- email -->
<div class="email clearfix">
    <div class="img wow slideInLeft">
        <img src="assets/images/f5.svg">
      </div>
<div class="text wow slideInRight">
  <h1>Email Signature <span>Management</span></h1>
  <p >Provisioning and deprovisioning user within Google G Suite can be time-consuming and costly. Let Patronum fully automate all the administrator and user tasks to ensure an effective and secure process.</p>
  <a href="#" class="btn-style-thirteen theme-btn bn">Learn More</a>
</div>
</div>

<app-page5></app-page5>
<app-footer></app-footer>
