<div class="page2 clearfix">
  <div class="pos2 text t2 wow slideInLeft clearfix">
    <h1 class="fw600 mb5">Why</h1>
    <h2 class="mrt0 fw300 ">Patronum?</h2>
    <p class="dcr">Like you, we manage Google G Suite and we don’t have time to waste managing all these users, and group or worry about what they are sharing. That’s why we converted the IT department wish list into a set of killer features.</p>

    <a href="#" class="btn-style-thirteen theme-btn bn">Learn More</a>
  </div>
  <div class="img2 wow slideInRight clearfix">
    <img src="assets/images/p1.svg">
    <br>
  </div>
  </div>